<select>
  <option  (change)="name($event)" *ngFor="let hospitalName of hospitalNameList">{{hospitalName.hospitalName}}</option>
</select>
<button class="btn btn-success" (click)="addpatientForm()">create Form</button>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>mobile no</th>
      <th>Age</th>
      <th>Gender</th>
      <th>City</th>
      <!-- <th> is first visit </th> -->
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let patient of patientList">
      <td>{{ patient.name }}</td>
      <td>{{ patient.mobileNo }}</td>
      <td>{{ patient.age }}</td>
      <td>{{ patient.gender }}</td>
      <td>{{ patient.city }}</td>
    </tr>
  </tbody>
</table>
